*, *::before, ::after {
  box-sizing: border-box;
}

body {
  background-image: url("brown-wooden-coffee-table-below-an-uplight-chandelier-68389.jpg");
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: 1310px 800px;
  display:flex;
  align-items: center;
  justify-content: center;
}

.piano {
  display: flex;
}

.key {

}

.white{
  width: 100px;
  height: 400px;
  background-color: white;
  border: 1px solid #333
}

.black{

}
